body{
  font-family: Arial, sans-serif;
  background-color: #f0f2f5;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background-color: #fff;
  width: 300px;
  text-align: center;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  padding: 30px;
}

h2 {
  margin-bottom: 20px;
}
input{
  width: 90%;
  padding: 10px;
  margin: 10px 0px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button{
  width: 90%;
  padding: 10px;
  background-color: #4caf50;
  border-radius: 5px;
  border: none;
  color: #fff;
}

button:hover{
  background-color: #45a049;
  transform: scale(0.96);
}

p{
  font-size: 14px;
}

span{
  color: blue;
  cursor: pointer;
}

.message{
  font-size: 14px;
  margin-top: 5px;
}





